#register{
  display:none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
  
    display: flex; 
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;


     height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(note.jpg);
     background-size: cover;
    
  }


  .Web-name {
    font-size: 150px;
    font-weight: 560;
    text-align: justify;
    color: #fff;
    margin: 50% 0;
  }
  
  .container {
    margin:30px;
    max-width: 700px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  
  }

.button-box{
  width: 520px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}

.toggle-btn{
  padding:10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 27px;
  font-weight: 560;
  position:relative;
  
}

#btnn{
  top:0;
  left:0;
  position:absolute;
  width: 250px;
  height: 90%;
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 30px;
  transition: 0.5s;
}

 
  
  .container .title {
    color: #fff;
    font-size: 27px;
    font-weight: 560;
  }
  
 .input-box {
    color: #fff;
    justify-content:space-between;
   
  }

 .input-group .input-box{
     width: calc(100%/2-20px);
     margin: 25px ;
   
   
 }

 .input-group .input-box input {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
        color: #fff;
 }

 ::placeholder{
  color: rgb(146, 146, 146);
  font-size: 15px;
 }

.btn{
  height: 45px;
  width: 180px;
  background: rgba(0,0,0,0.3);
  margin-left: 100px ;
  border: 4px solid #ffffff;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 560;
  color:#fff ;
}


.btn:hover{
  border: 1px solid rgb(10, 3, 0);;
  background:#fff;
  font-size: 20px;
  font-weight: 560;
  color:rgb(10, 3, 0) ;
}






form .datos-usuario .input-correct{
  color: rgb(255, 255, 255);
  font-size: 27px;
  font-weight: 360;
  width: calc(100%/2-20px);
  margin: 25px ;
}


